.holderContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: stretch;
  width: 100%;
  display: flex;
  text-align: center;
}

.profilName {
  font-size: 32px;
}

.infoContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 21rem;
}

.infoContainer img {
  border-radius: 50%;
}
.holderScoreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 8rem;
}

.scoreContainer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.winIcon {
  color: var(--green-500);
}

.circleBorder {
  border: solid 1px var(--neutral-900);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 32px;
}

.logOut {
  position: absolute;
  bottom: 1em;
  width: 11rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.boutonContainer {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-around;
}

.bouton {
  font-size: 32px;
  cursor: pointer;
  background-color: var(--green-500);
  border-radius: 10px;
  padding: 0.3em;
  font-size: 32px;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.play {
  background-color: var(--blue-600);
  color: var(--neutral-50);
}

.bouton:hover {
  border: solid 3px var(--blue-300);
}
