.holderContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: stretch;
  width: 100%;
  display: flex;
  text-align: center;
}

.holderContainerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: stretch;
  width: 100%;
  display: flex;
  text-align: center;
}

.profilName {
  margin-left: 15px;
}

.infoContainer {
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  left: 15px;
  cursor: pointer;
}

.infoContainer img {
  border-radius: 50%;
  height: 50px !important;
}

.holderScoreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 9rem;
  margin-top: 70px;
}

.scoreContainer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.holderScoreContainer h3 {
  font-size: 1.7rem;
  font-weight: 600;
  font-style: none;
  font-family: Enedis-bold;
}

.winIcon {
  color: var(--green-500);
}

.circleBorder {
  border: solid 1px var(--neutral-900);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 32px;
}

.logOut {
  position: absolute;
  right: -0.5px;
  width: 11rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-style: none;
}

.logOut button:hover {
  color: var(--green-500);
}

.boutonContainer {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

.boutonPlay {
  font-size: 32px;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.3em;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  width: 313px;
  height: 359px;
  position: relative;
  overflow: hidden;
}

.boutonPlay h3 {
  position: absolute;
  top: 155px;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: none;
  font-family: var(--sans-serif);
}
.boutonPlay h3:nth-of-type(2) {
  top: 187px;
}

.boutonPlay p {
  font-size: 1.1rem;
  position: absolute;
  top: 235px;
  width: 80%;
}

.playRoute {
  position: absolute;
  /* top: 0; */

  /* height: 145px;
  width: 100%; */
  top: -277px;
  height: 700px;
  width: 150px;
  transform: rotate(90deg);
  background-image: url(../../assets/routeFina.png);
  background-position: center;
  background-size: contain;
  color: var(--neutral-50);
}

.playBureau {
  position: absolute;
  /* top: 0;
  height: 145px;
  width: 100%; */
  top: -277px;
  height: 700px;
  width: 150px;
  transform: rotate(90deg);
  background-image: url(../../assets/routeOffice.png);
  background-position: center;
  background-size: contain;
  /* color: var(--neutral-50); */
}

.playReviser {
  position: absolute;
  top: 0;
  height: 145px;
  width: 100%;
  background-image: url(https://gettotext.com/wp-content/uploads/2022/03/Hard-to-believe-a-wind-turbine-can-charge-your-e-car-980x400.jpg);
  background-position: center;
  background-size: cover;
  background-color: var(--green-500);
}

.boutonPlay:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%);
  transform: translateY(0.25em);
  transition: 0.5s ease;
}

.imgContainerProfil {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0rem;
  width: 100vw;
  height: 5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%);
}

.imgContainerProfil img {
  width: auto;
  height: 35px;
}

@media (max-width: 600px) {
  .holderContainer {
    height: auto;
  }
  .boutonContainer {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .boutonContainer h3 {
    font-size: 1.3rem;
  }

  .boutonPlay h3:nth-of-type(2) {
    display: none;
  }

  .boutonContainer p {
    font-size: 1rem;
  }

  .profilName {
    font-size: 0.8rem;
  }

  .imgContainerProfil {
    width: 113vw;
    height: 3rem;
  }

  .imgContainerProfil img {
    height: 20px;
  }

  .logOut h3 {
    font-size: 0.8rem;
  }
  .holderScoreContainer {
    height: 5rem;
    margin-top: 55px;
  }

  .holderScoreContainer h3 {
    display: none;
  }

  .boutonPlay {
    height: 160px;
    width: 70vw;
    margin: 20px 0;
  }

  .playRoute,
  .playBureau {
    width: 80px;
    top: -310px;
  }

  .playReviser {
    height: 80px;
  }

  .boutonPlay h3,
  .boutonRoute h3,
  .boutonReviser h3 {
    top: 90px;
  }
}
