.buttonPause {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.containerGrille {
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow-y: hidden;
}

.enedisContainer {
  position: absolute;
  top: 20px;
  z-index: 520000;
  left: 50%;
  transform: translateX(-50%);
}

.letterDetails {
  width: 150px;
  height: 50px;
  display: flex;
}
.letterDetails:nth-child() {
  opacity: 0.5;
}

.cls-2,
.cls-1 {
  fill: #c8cbd0;
}

.cls-3 {
  fill: var(--blue-500);
}
.cls-4 {
  fill: var(--green-500);
}
.grille {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat-x: no-repeat;
  animation: background-defile 3s linear infinite forwards;
}

#grilleLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: 50%;
  background-color: #000;
}
#grilleRight {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  height: 50%;
  background-color: #000;
}

.perso {
  position: absolute;
  min-width: 100px;
  height: 200px;
  width: auto;
  bottom: 20px;
  left: 50%;
  transform-origin: 50% 50%;
  /* transform: rotate(360deg); */
  transform: translateX(-50%);
  transition: transform 400ms;
  z-index: 1;
}

.obstacleBox {
  position: relative;
  width: 708px;
  left: 50%;
  transform: translateX(-50%);
}
.obstacle {
  position: absolute;
  width: 120px;
  height: auto;
  min-width: 100px;
  animation: obstacle-defile 2500ms linear infinite;
}

.left {
  left: 18%;
  transform: translateX(-50%);
  /* transition-delay: 5s; */
}
.middle {
  left: 50%;
  transform: translateX(-50%);
}
.right {
  left: 85%;
  transform: translateX(-50%);
}

.explose {
  position: absolute;
  z-index: 1000000;
  bottom: 180px;
  width: 100px !important;

  /* opacity:1; */
  /* width:auto;
  height: auto; */
  /* background-image: url('../assets/boom.png');s */
  /* transition: width 1s, opacity 2s; */
  /* animation-delay: 0; */
}

/* .boom{
  opacity:1;
  width: 200px;
  transition: 0s;
} */

@keyframes obstacle-defile {
  from {
    top: -500px;
  }
  to {
    top: 100vh;
  }
}
.iconeMenu {
  width: 38px;
  background-color: #fff;
  border-radius: 10px;
}

.holderButtonTop {
  z-index: 650;
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}

.returnBtn {
  padding-left: 90px;
}
.pauseBtn {
  padding-right: 90px;
}

/*  Modale GameOver */
.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(217.5, 7.8%, 80%, 0.8);
}
.gameOver {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
}

.gameOver p {
  font-size: 30px;
  color: #fff;
  border-radius: 7px;
  padding: 20px 20px;
  background-color: var(--blue-500);
}

.gameOver button {
  border-radius: 7px;
  padding: 20px 10px;
}

.gameOver button:hover {
  background-color: var(--blue-300);
  cursor: pointer;
}

.gameWin {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  min-height: 350px;
  max-width: 560px;
  text-align: center;
  color: #fff;
  border-radius: 7px;
  padding: 20px 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-500);
}
