.buttonPause {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.containerGrille {
  width: 100%;
  height: 100vh;
  background-color: #91c574;
  z-index: -1;
  overflow-y: hidden;
}

.grille {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  width: auto;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: url("../assets/routeMob.png");
  /* background-size: cover; */
  background-position: center;
  background-repeat-x: no-repeat;
  animation: background-defile 3s linear infinite forwards;
}

.perso {
  position: absolute;
  width: 6%;
  min-width: 100px;
  height: auto;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.obstacle {
  position: absolute;
  width: 10vw;
  min-width: 100px;
  height: auto;
  animation: obstacle-defile 2500ms linear infinite;
}

.obstacle:nth-of-type(2) {
  width: 3vw;
}

.left {
  left: 35%;
  transform: translateX(-50%);
  /* transition-delay: 5s; */
}
.middle {
  left: 50%;
  transform: translateX(-50%);
}
.right {
  left: 67%;
  transform: translateX(-50%);
}

@keyframes background-defile {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 1445px;
  }
}

@keyframes obstacle-defile {
  from {
    top: -500px;
  }
  to {
    top: 100vh;
  }
}
