.wrapper {
    background-color: blue;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
  }
  
  .place {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
