.AnswerButton {
  min-width: 60%;
  display: flex;
  gap:15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

button {
  padding: 10px;
  min-width: 160px;
  border-radius: 50px;
  border: 5px solid transparent;
  cursor: pointer;
}

/* .AnswerButton button:hover {
  border: 5px solid green;
} */

.btnVert:hover{
  border: 5px solid var(--green-500);
}
.btnRouge:hover{
  border: 5px solid var(--red-500);
};

.wrapper2 {
  z-index: 5000000;
  position: absolute;
 height: 100vh;
 width: 100vw;
  background-color: #c8cbd0b0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapQuest {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index:5000000;
  transform: translate(-50%,-50%);
  width: 50%;
  min-width: 350px;
  max-width: 700px;
  background-color: var(--neutral-700);
  /* box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 15%); */
  /* opacity: .4; */
  margin: 0 auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  opacity: 1;
}

.modalLoose{
  background: var(--red-400);
}
.buttonLoosee{
  background: var( --red-500);
}
.modalWin{
  background: var(--green-600);
}
.buttonWin{
  background: var(--green-500);
}


.wrapQuest h1, .wrapQuest h2 {
  color: white;
  padding: 0 20px;
}



#correctAnswerReavel,
#wrongAnswerReavel {
  visibility: hidden;
  color: white;
}



.visible {visibility: visible;}
.hidden {visibility: hidden;}


