.AnswerButton {
  min-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.AnswerButton button {
  padding: 10px;
  min-width: 100px;
  border-radius: 50px;
  border: 5px solid transparent;
  cursor: pointer;
}

.AnswerButton button:hover {
  border: 5px solid green;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapQuest {
  width: 50%;
  min-width: 350px;
  background-color: blue;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.wrapQuest h1 {
  color: white;
}

#correctAnswerReavel,
#wrongAnswerReavel {
  visibility: hidden;
  color: white;
}
